<!DOCTYPE html>
<html lang="en">

<head>
	<title>three.js webgl - FBX loader</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">



	<style>
		body {
			font-family: Monospace;
			background-color: #000;
			color: #fff;
			margin: 0px;
			overflow: hidden;
		}

		#info {
			color: #fff;
			position: absolute;
			top: 10px;
			width: 100%;
			text-align: center;
			z-index: 100;
			display: block;
		}

		#info a {
			color: #046;
			font-weight: bold;
		}

		#boton {
			background: #fff;
			text-align: center;
			color: black;
			z-index: 1000;
			padding-left: 1000px;
		}
	</style>
</head>

<body>


	<button onclick="myFunction(this)" id="boton">Click me</button>
	<button onclick="myFunction_2(this)" id="boton">Click me 2</button>



	<script src="/build/three.js"></script>

	<script src="/js/libs/inflate.min.js"></script>
	<script src="/js/loaders/FBXLoader.js"></script>

	<script src="/js/controls/OrbitControls.js"></script>

	<script src="/js/Detector.js"></script>
	<script src="/js/libs/stats.min.js"></script>
	<script src="/js/scripts.js"></script>

	<script>
		
	</script>

</body>

</html>